# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# SQLite databases
*.db
*.sqlite
*.sqlite3
/linkedin_content.csv
linkedin_content.csv
# FAISS index files
data/faiss_index/

# Virtual Environment
venv/
ENV/

# IDE specific files
.idea/
.vscode/
*.swp
.DS_Store